:root {
    --primary: #f00;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

.header {
    position: fixed;
    top: 0;
    inset-inline: 0;
}

.header__navbar {
    background: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(8px);
}

.home__hero {
    height: 100dvh;
}

/* .home__hero h1 {
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 4.8rem;
}

.home__hero p {
    font-size: 1.14rem;
    max-width: 60ch;
    letter-spacing: 0.5px;
} */

.home__hero__img {
    object-fit: cover;
}

.random__fab {
    position: fixed;
    bottom: 2rem;
    inset-inline-end: 2rem;
}

.hr-blur {
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        #ced7e0,
        transparent 80%
    );
}

.series__container {
    display: flex;
    padding-top: 60px;
    height: 100dvh;
}

.series__sidebar {
    max-width: 360px;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.series__sidebar__counter {
    min-width: 48px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px #7b19d8 solid;
}

.active .series__sidebar__counter {
    background-color: rgba(255, 255, 255, 0.5);
    color: #7b19d8;
}

.series__view {
    flex: 1;
    max-height: 100%;
    overflow: scroll;
}

.series__view__video {
    height: 65%;
    position: relative;
}

.video-js {
    position: static;
}

.vjs_video_3-dimensions {
    height: 100% !important;
}
